@model Task5_Nix.ViewModels.UserProfile

@{
    ViewData["Title"] = "VisitorProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>VisitorProfile</h1>

<h4>VisitorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.ValidationSummary()
        @using (Html.BeginForm("VisitorProfile", "Visitor", FormMethod.Post, true))
        {
            <div class="form-group">
                @Html.HiddenFor(m => m.Id, Model.Id)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.VisitorName, "Имя пользователя: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.VisitorName, Model.VisitorName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.VisitorName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PassportSeries, "Серия паспорта", new { @class = "control-label" })
                @Html.EditorFor(m => m.PassportSeries, Model.PassportSeries, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PassportSeries, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PassportNum, "Номер паспорта", new { @class = "control-label" })
                @Html.EditorFor(m => m.PassportNum, Model.PassportNum, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PassportNum, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

@Html.ActionLink("Удалить аккаунт", "DeleteAccount", "Visitor", new { userId = Model.Id}, new { id= "userId" })

<h5>Ваши заказы: </h5>

@{ await Html.RenderPartialAsync("~/Views/Room/RoomsList.cshtml", Model.UserRooms);}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
