@model IEnumerable<Task5_Nix.ViewModels.BookInfo>

@{
    ViewData["Title"] = "BookingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="offset-4 pb-3">Список заказов:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Имя пользователя</label>
            </th>
            <th>
                <label>Номер комнаты</label>
            </th>
            <th>
                <label>Дата заезда</label>
            </th>
            <th>
                <label>Дата выезда</label>
            </th>
            <th>
                <label>Посетитель отметился: </label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <label>@item.VisitorName</label>
            </td>
            <td>
                <label>@item.RoomNumber</label>
            </td>
            <td>
                <label>@item.MoveIn</label>
            </td>
            <td>
                <label>@item.MoveOut</label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedIn)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBooking", new { bookId = item.BookingId }, new { id = "bookId" }) |
                @Html.ActionLink("Delete", "DeleteBooking", new { delId = item.BookingId }, new { id = "delId" })
            </td>
        </tr>
}
    </tbody>
</table>
