@model Task5_Nix.ViewModels.BookRoomVM

@{
    ViewData["Title"] = "BookRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BookRoom</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @Html.AntiForgeryToken()
        @using (Html.BeginForm("BookRoom", "Booking", FormMethod.Post))
        {

            <div class="form-group">
                @Html.HiddenFor(m => m.RoomFK, Model.RoomFK)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RoomNumber, "Номер комнаты: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.RoomNumber, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RoomNumber, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MoveIn, "Дата заезда: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.MoveIn, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MoveIn, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MoveOut, "Дата выезда: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.MoveOut, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MoveOut, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Price, "Цена за ночь: ", new { @class = "control-label" })
                <label asp-for="Price" class="control-label">@Model.Price</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Забронировать" class="btn btn-primary" />
            </div>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
