@model Task5_Nix.ViewModels.UserRegistrationModel

@{
    ViewData["Title"] = "RegisterUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Регистрация пользователя</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @Html.ValidationSummary()
        @using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post, true))
        {

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, "Имя пользователя: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.UserName, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PassportSeries, "Серия паспорта", new { @class = "control-label" })
                @Html.EditorFor(m => m.PassportSeries, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PassportSeries, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PassportNum, "Номер паспорта", new { @class = "control-label" })
                @Html.EditorFor(m => m.PassportNum, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PassportNum, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, "Пароль: ", new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RepeatPassword, "Повторите пароль: ", new { @class = "control-label" })
                @Html.PasswordFor(m => m.RepeatPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RepeatPassword, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
            </div>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
