@model IEnumerable<Task5_Nix.Models.CategoryViewModel>

<p>
    @Html.ActionLink("Создать категорию", "CreateCategory", "Category")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategory", "Category", new { key= item.CategoryId}, new { id="key"}) |
                @Html.ActionLink("Delete", "DeleteCategory", "Category", new { keyId = item.CategoryId }, new { id = "keyId" })
            </td>
        </tr>
}
    </tbody>
</table>
