@model Task5_Nix.ViewModels.CategoryCreateModel

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактировать категорию</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        @Html.ValidationSummary()
        @using (Html.BeginForm("EditCategory", "Category", FormMethod.Post, true))
        {
            @Html.HiddenFor(m => m.Id, Model.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.CategoryName, "Название категории: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.CategoryName, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CategoryName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StartDate, "Начальная дата категории: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.StartDate, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EndDate, "Конечная дата категории: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.EndDate, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Price, "Цена за ночь: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.Price, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-primary" />
            </div>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
