@model Task5_Nix.ViewModels.RoomCreateModel

@{
    ViewData["Title"] = "EditRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditRoom</h1>

<h4>RoomCreateModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.AntiForgeryToken()
        @using (Html.BeginForm("EditRoom", "Room", FormMethod.Post))
        {
            <div class="form-group">
                @Html.HiddenFor(m => m.RoomId, Model.RoomId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RoomNumber, "Имя пользователя: ", new { @class = "control-label" })
                @Html.EditorFor(m => m.RoomNumber, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RoomNumber, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CurrentCategory, "Текущая категория: ", new { @class = "control-label" })
                @Html.LabelFor(m => m.CurrentCategory, Model.CurrentCategory, new { @class = "control-label" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.CategoryID, Model.Categories)
                @Html.ValidationMessageFor(m => m.CategoryID, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Изменить" class="btn btn-primary" />
            </div>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
