@model IEnumerable<Task5_Nix.ViewModels.RoomInfo>

<div class="mw-100 ml-5 pl-5">

@foreach (var item in Model) {
        <div class="card d-inline-block w-25 mr-3 mb-3 ">
            <div class="card-header align-items-center">
                <label class="control-label text-dark pt-2 mr-3">Номер комнаты:</label>
                <label class="control-label text-dark pt-2 ml-5 font-weight-bold"> @item.RoomNumber</label>
            </div>

            <div class="card-text">
                <fieldset>
                    <label class="control-label text-dark pl-3">Описание комнаты:</label>
                    <label class="control-label text-dark float-right pr-3"> @item.RoomCategory</label>
                </fieldset>

                <fieldset>
                    <label class="control-label text-dark pl-3">Цена комнаты:</label>
                    <label class="control-label text-dark float-right pr-3"> @item.Price </label>
                 </fieldset>
            </div>

            <ul class="navbar-nav align-items-center">
                @if (User.IsInRole("admin"))
                {

                <li class="btn btn-secondary text-light rounded w-50 h-25 mb-3">
                @Html.ActionLink("BookRoom", "BookRoom", "Booking", new { roomId = item.Id }, new { id = "roomId", @class = "text-light" })
                </li>

                <li class="btn btn-secondary text-light rounded w-50 h-25 mb-3">
                @Html.ActionLink("Edit", "EditRoom", "Room", new { key = item.Id }, new { id = "key", @class = "text-light" })
                </li>

                <li class="btn btn-secondary text-light rounded w-50 h-25 mb-3">
                @Html.ActionLink("Delete", "DeleteRoom", "Room", new { keyId = item.Id }, new { id = "keyId", @class = "text-light" })
                </li>

                }
                else 
                {

                <li class="btn btn-secondary text-light rounded w-50 h-25 mb-3">
                @Html.ActionLink("BookRoom", "BookRoom", "Booking", new { roomId = item.Id }, new { id = "roomId", @class= "text-light" })
                </li>

                }
             </ul>
        </div>
}
</div>
